form table,
table.subnodes
{
	width: 100%;
	table-layout: fixed;
}
col.name-col
{
	width: 60%;
}
form table col.label
{
	width: 15%;
}
form table col.edit
{
	width: 85%;
}
input.text,
input.password,
textarea
{
	width: 100%;
}
input.jump
{
	width: 8em;
}
form.jump p
{
	margin-top: 0px;
}
form.admin col.author
{
	width: 20%;
}
form.admin col.main
{
	width: 74%;
}
form.admin col.controls
{
	width: 3%;
}
.header
{
	text-align: center;
	padding: 1ex;
	margin: 0 0 4ex 0;
}
.collapse
{
	margin: 0 0;
}
