form table,
table.subnodes
{
	width: 100%;
	table-layout: fixed;
}
col.name-col
{
	width: 60%;
}
form table col.label
{
	width: 15%;
}
form table col.edit
{
	width: 85%;
}
input.text,
input.password,
textarea
{
	width: 100%;
}
input.jump
{
	width: 16em;
}
form.jump p
{
	margin-top: 0px;
}
form.admin col.author
{
	width: 20%;
}
form.admin col.main
{
	width: 74%;
}
form.admin col.controls
{
	width: 3%;
}
div.top
{
	padding: 0ex;
	margin: 0 0 4ex 0;
}
div.top h1,
div.top p.home
{
	text-align: center;
	margin: 0 0;
}
div.help-example div.bluesquare
{
	float: left;
}
div.help-example p.home
{
	position: absolute;
	right: 0em;
	left: 0em;
}
div.help-example h1,
div.help-example p.home
{
	text-align: center;
}
div.top h1
{
	margin-top: 0.5ex;
}
div.top p.home
{
	margin-bottom: 1ex;
}
