.navigation, .lmenu, .rmenu
{
	overflow: hidden;
	display: none;
}
.author, .time
{
	font-style: italic;
}
.itemname, .name
{
	font-weight: bold;
}
.itemnote, .note
{
	font-style: italic;
	font-weight: bold;
}
.unnamedItem
{
	font-style: italic;
}
.history, .unseen-history, .main-history
{
	border-bottom: dotted;
	border-bottom-width: 1px;
}
form.jump
{
	display: none;
	overflow: hidden;
}
