.menu, .navigation, .navigation-menu
{
	overflow: hidden;
	display: none;
}
.author, .time
{
	font-style: italic;
}
.itemname, .name
{
	font-weight: bold;
}
.itemnote, .note
{
	font-style: italic;
	font-weight: bold;
}
.unnamedItem
{
	font-style: italic;
}
.history, .unseen-history, .main-history
{
	border-bottom: dotted;
	border-bottom-width: 1px;
}
form table,
table.subnodes
{
	width: 100%;
	table-layout: fixed;
}
col.name-col
{
	width: 60%;
}
form table
col.label
{
	width: 15%;
}
col.edit
{
	width: 85%;
}
input.text,
input.password,
textarea
{
	width: 100%;
}
