body
{
	color: black;
	background: #DDDDFF;
}
.unnamedItem, .unseen-history
{
	background: #D5D5D5;
}
.item, .history
{
	background: #F0F0F0;
}
.main-history
{
	background: #DDFFDD;
}
.help-example
{
	background: #BBBBFF;
	padding: 0.3em;
}
.itemname, .name
{
	font-weight: bold;
}
.itemnote, .note
{
	font-weight: bold;
	font-style: italic;
}
.error
{
	font-weight: bold;
	color: red;
}
.author, .time
{
	font-style: italic;
	color: #444444;
}
.discussion div p, .admin div p
{
	padding-left: 5px;
	padding-right: 5px;
}
div.menu
{
	position: relative;
	float: left;
	width: 20%;
}
div.navigation-menu
{
	position: relative;
	float: right;
	text-align: right;
	width: 20%;
	margin-right: 1em;
}
div.top h1
{
	text-align: center;
	height: 0px; /* Hack. Place menu and navigation besides, not below. */
	margin: 0px;
}
div.clear
{
	clear: both; /* Hack. Wait for all menus to end first. */
}
.menu ul,
.navigation ul,
.navigation-menu ul,
ul.navigation
{
	list-style-type: none;
}
.menu li,
.navigation li
{
	margin-left: -1em; /* Hack. Move the place the bullets would take if they were there back left. */
}
form table,
table.subnodes
{
	width: 100%;
	table-layout: fixed;
}
col.id-col
{
	width: 3em;
}
col.name-col
{
	width: 60%;
}
form table
col.label
{
	width: 15%;
}
col.edit
{
	width: 85%;
}
input.text,
input.password,
textarea
{
	width: 100%;
}
