body
{
	color: black;
	background: #DDDDFF;
}
form.admin table.unnamedItem tr.label,
.unnamedItem, .unseen-history
{
	background: #D5D5D5;
}
form.admin table.item tr.label,
.item, .history
{
	background: #F0F0F0;
}
.main-history
{
	background: #DDFFDD;
}
.help-example
{
	background: #BBBBFF;
	padding: 0.3em;
}
.itemname, .name
{
	font-weight: bold;
}
.itemnote, .note
{
	font-weight: bold;
	font-style: italic;
}
.error
{
	font-weight: bold;
	color: red;
}
.author, .time
{
	font-style: italic;
	color: #444444;
}
.discussion div p, .admin div p
{
	padding-left: 5px;
	padding-right: 5px;
}
div.lmenu
{
	float: left;
	width: 20%;
}
div.rmenu
{
	float: right;
	text-align: right;
	width: 20%;
	padding-right: 1em;
}
div.top h1
{
	text-align: center;
	padding-top: 0.5ex;
}
div.top ul
{
	margin-top: 0px;
}
div.clear
{
	clear: both; /* Hack. Wait for all menus to end first. */
}
.lmenu ul,
.rmenu ul,
.navigation ul,
ul.navigation
{
	list-style-type: none;
}
.lmenu li,
.rmenu li
{
	margin-left: -1em; /* Hack. Move the place the bullets would take if they were there back left. */
}
form.admin tr.label td.deletes
{
	background: red;
}
form.admin .newhistory
{
	background: #FFFFCC;
}
form.admin td.empty,
form.admin table
{
	background: #BBBBFF;
}
.header
{
	background-color: #4c3bff;
	color: #fffa45;
	border: solid blue;
	border-width: 1px;
}
