body
{
	color: black;
	background: #DDDDFF;
}
.unnamedItem, .unseen-history
{
	background: #D5D5D5;
}
.item, .history
{
	background: #F0F0F0;
}
.main-history
{
	background: #DDFFDD;
}
.help-example
{
	background: #BBBBFF;
	padding: 0.3em;
}
.itemname, .name
{
	font-weight: bold;
}
.itemnote, .note
{
	font-weight: bold;
	font-style: italic;
}
.error
{
	font-weight: bold;
	color: red;
}
.author, .time
{
	font-style: italic;
	color: #444444;
}
.discussion div p, .admin div p
{
	padding-left: 5px;
	padding-right: 5px;
}
.menu ul,
.navigation ul,
ul.navigation
{
	list-style-type: none;
}
table.subnodes
{
	width: 100%;
	table-layout: fixed;
}
col.id-col
{
	width: 3em;
}
col.name-col
{
	width: 60%;
}
