body
{
	color: black;
	background: #DDDDFF;
}
form.admin table.unnamedItem tr.label,
.unnamedItem, .unseen-history
{
	background: #D5D5D5;
}
form.admin table.item tr.label,
.item, .history
{
	background: #F0F0F0;
}
.main-history
{
	background: #DDFFDD;
}
.help-example
{
	background: #BBBBFF;
	padding: 0.3em;
}
.itemname, .name
{
	font-weight: bold;
}
.itemnote, .note
{
	font-weight: bold;
	font-style: italic;
}
.error
{
	font-weight: bold;
	color: red;
}
.author, .time
{
	font-style: italic;
color: #444444;
}
.discussion div p, .admin div p
{
	padding-left: 5px;
	padding-right: 5px;
}
div.lmenu
{
float: left;
width: 20%;
}
div.rmenu
{
float: right;
       text-align: right;
width: 20%;
       padding-right: 1em;
margin: 0px;
}
div.bigbluesquare
{
	width: 100%;
}
div.bluesquare
{
	position: absolute;
	left: 20%;
	top: 1ex;
	width: 60%;
}
div.bluesquare-example
{
	left: 20%;
	width: 60%;
	position: absolute;
	height: 5em;
}
div.help-example div.lmenu,
div.help-example div.rmenu
{
	background: #BBBBFF;
}
div.bluesquare,
div.bigbluesquare,
div.bluesquare-example
{
	background-color: #4c3bff;
	color: #fffa45;
	border: solid blue;
	border-width: 1px;
}
div.rmenu,
div.lmenu
{
	background: #DDDDFF;
}
div.top p.home
{
	margin-top: 1ex;
}
div.top ul
{
	margin-top: 0px;
}
div.clear
{
	clear: both; /* Hack. Wait for all menus to end first. */
}
.lmenu ul,
.rmenu ul,
.navigation ul,
ul.navigation
{
	list-style-type: none;
}
.lmenu li,
.rmenu li
{
	margin-left: -1em; /* Hack. Move the place the bullets would take if they were there back left. */
}
form.admin tr.label td.deletes
{
	background: red;
}
form.admin .newhistory
{
	background: #FFFFCC;
}
form.admin td.empty,
form.admin table
{
	background: #BBBBFF;
}
p.announce
{
	background: yellow;
}
